.is-hidden {
	display: none;
}

.cordova-indicator {
	text-align: center;
}

@keyframes fade {
	from { opacity: 1.0; }
	50% { opacity: 0.4; }
	to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
	from { opacity: 1.0; }
	50% { opacity: 0.4; }
	to { opacity: 1.0; }
}
 
.blink {
	animation:fade 3000ms infinite;
	-webkit-animation:fade 3000ms infinite;
}


a {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color:#000000; 
	text-decoration:none; 
}


ul.tab {
	list-style-type:none;
	margin: 0;
	padding:0;
	border-radius: 5px;
	margin-top: 5px;
}
ul.tab li {
	float: left;
	padding: 0;
}
ul.tab li label {
	background: white;  
	padding: 6px;
	border: 1px solid #ccc;
	display: inline-block;
}
ul.tab li input[type="radio"] {
	opacity: 0;
	width:1px;
	height:1px;
	display: none;
}
ul.tab li input[type="radio"]:checked ~ label {
	background: red;
	color: white;
}
