html, body, .map {
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0px;
  position: fixed;
}

body{
  pointer-events:none;
}

.ol-scale-line {
  opacity: 0.85;
  background: rgba(0, 60, 136, 0) none repeat scroll 0 0;
  top: 'auto', bottom: '8px'
}
.ol-scale-line-inner {
  color: #222222;
  border-color: #222222;
}

#posBtn {
  background: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  bottom: 56px;
  right: 25px;
  position: fixed;
  z-index: 10 !important;
  box-shadow: 1px 1px 0px 0px rgba(209,209,209,1);
}
#posBtn img {
  width: 24px;
  height: 24px;
  margin-top: 18px;
  margin-left: 18px;
}

#pulsePosBtn {
  background: #4d4d4d;
  border-radius: 50%;

  width: 8px;
  height: 8px;
  margin-top: -20px;
  margin-left: 26px;
  z-index: 11 !important;

  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

#mapCredits {
  border-radius: 50%;
  width: 350px;
  height: 8px;
  bottom:1px;
  right:2px;
  position: fixed;
  z-index: 10 !important;
  font-size: 8px;
  text-align: right;
}

.topPanels {
  display: none;
  position: absolute;
  margin-top: 50px;
  width: 100%;
}
#topPanelMsg {
  top: 0px;
  background: #F7F7F7;
  height: 95px;
  z-index: 20 !important;
  box-shadow: 0px 2px 2px 0px rgba(184,184,184,1);
}
#topPanelMsgContent {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  margin-bottom: 4px;
}
#topPanelMsgContent p {
  font-size: 16px;
  text-align: center;
  font-family: Ubuntu;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#topPanelIcons {
  top: 0px;
  background: white;
  height: 52px;
  z-index: 21 !important;
}
#topPanelIconsContent {
  width: 100%;
  position: absolute;
  margin: auto;
  margin-bottom: 6px;
  bottom: 0;
}
#topPanelIconsContent img {
  margin-left: 10px;
  margin-right: 10px;
  height: 32px;
}

#panelsNav, #panelConfirmRoute {
  display: none;
  position: fixed;
  width: 100%;
  height: 120px;
  bottom: 0px;
  z-index: 30 !important;
  font-size: 16px;
  text-align: center;
  font-family: Ubuntu;
}
#topPanelNav, #topPanelConfirm {
  position: absolute;
  top: 0px;
  background: white;
  width: 100%;
  height: 92px;
  box-shadow: 0px -2px 2px 0px rgba(184,184,184,1);
}
#bottomPanelNav, #bottomPanelConfirm {
  position: absolute;
  bottom: 0px;
  background: #F7F7F7;
  width: 100%;
  height: 28px;
}

#endTime, #confirmEndTime {
  position: absolute;
  bottom: 5px;
  width: 100%;
  left: 20px;
  text-align: left;

}
#endDistance, #confirmEndDistance {
  position: absolute;
  bottom: 5px;
  width: 100%;
  left: 10px;
  text-align: center;
}
#endHour, #confirmEndHour {
  position: absolute;
  bottom: 5px;
  width: 100%;
  right: 20px;
  text-align: right;
}
#stepTxt {
  position: absolute;
  top: 15px;
  width: 67%;
  height: 65px;
  left: 75px;
  font-size: 20px;
  line-height: 20px;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  text-align: left;
}
#btnCancelRoute {
  position: absolute;
  top: 30px;
  width: 33px;
  height: 33px;
  right: 10px;
}
#stepImg {
  position: absolute;
  top: 25px;
  width: 30px;
  height: 30px;
  left: 22px;
}
#stepImg img {
  width: 100%;
  height: 100%;
}
#distance {
  position: absolute;
  bottom: 12px;
  width: 70px;
  height: 20px;
  left: 0px;
}
#totalProgress {
  height: 2px;
  width: 20%;
  background-color: #5846c5;
  left: 0;
  bottom: 0;
  position: absolute;
}

#panelConfirmRoute {
  height: 120px;
}
#topPanelConfirm {
  height: 100px;
}

#modeConfirm {
  height: 40%;
  width: 100%;
}
#btnsConfirm {
  height: 50%;
  width: 100%;
}
#modeConfirm img {
  width: 100px;
  height: 32px;
  margin-top: 9px;
}
#btnModeCarConfirm {
  border-radius: 45px 0px 0px 45px;
}
#btnModeWalkConfirm {
  border-radius: 0px 45px 45px 0px;
}

.btns2_mode_route {
  width: 145px;
  height: 35px;
  margin-top: 8px;
  margin-left: 5px;
  margin-right: 5px;
}

.ol-compassctrl.compass {
  width: 60px;
  height: 60px;
  bottom: 390px;
  right: 18px;
  position: fixed;
  display: none;
}

#panelRecenterRoute {
  display: none;
  background: white;
  position: fixed;
  width: 115px;
  height: 40px;
  bottom: 134px;
  left: 12px;
  border:1px solid #f0f0f0;
  border-radius: 30px;
}
#panelRecenterRoute img {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  left: 14px;
}
#panelRecenterRoute p {
  position: absolute;
  width: 70px;
  height: 30px;
  top: 0px;
  margin-top: 11px;
  left: 0px;
  margin-left: 40px;
  text-align: left;
  font-family: Ubuntu;
  font-size: 16px;
}
