html, body, .map {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 100%;
}
.body_bg
{
	background-image: url("../img/tiles/bg.png");
}

.map {
	overflow:hidden;
	top: 0;
}

#panel_msg, #panel_review_btns {
	position:absolute;
	bottom:0px;
	width:calc(100% + 1px);
	left: 50%;
	margin-left: -50%;
	height:25px;
	background:#292929;
	color:white;
	z-index: 2;
	vertical-align:middle;
	text-align:center;
}
#panel_msg {
	height:70px;
	font-size:20px;
}
#panel_review_btns {
	bottom:25px;
}
#panel_summary, #panel_review_summary {
	position:absolute;
	bottom:0px;
	width:100%;
	left: 50%;
	margin-left: -50%;
	height:25px;
	background:#f7f7f7;
	color: #292929;
	font-weight: normal;
	z-index: 2;
	vertical-align:middle;
	text-align:center;
}
#panel_indication {
	position:absolute;
	bottom:25px;
	width:100px;
	right: -11px;
	height:100px;
	background:#292929;
	z-index: 2;
	vertical-align:middle;
	text-align:center;
	font-weight:bold;
	padding:5px 5px;
	color:#ffffff;
	font-size:22px;
	border-radius: 5px 0px 0px 0px;
	z-index: 4;
}

#panel_txt_ind {
	position:absolute;
	bottom:25px;
	width: calc(100% - 98px);
	left: 0;
	margin: 0 98px 0 0;
	background:#292929;
	z-index: 2;
	color:#ffffff;
	vertical-align:middle;
	text-align:center;
}
@media screen and (orientation:portrait) {
	#panel_txt_ind {
		height:60px;
		font-size:18px;
	}
}
@media screen and (orientation:landscape) {
	#panel_txt_ind {
		height:40px;
		font-size:20px;
	}
}

#p_img_ind {
	width:45px;
	height:45px;
}
#gps_progress {
	margin-top: 7px;
}

.btns_route {
	width:95%;
	max-width: 274px;
	height:40px;
	margin-top: 5px;
	margin-bottom: 3px;
}

#btn_start {
	background: #398DFF;
	border-color: #398DFF;
}

#gps_progress {
	width:80%;
	max-width: 300px;
	height:10px;
	margin-bottom: 8px;
}

.btns1_mode_route {
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 3px;
	width: 50px;
	height: 40px;
}

.img1_btn_route {
	width: 25px;
	height: 25px;
}

.btns2_mode_route {
	margin-top: 15px;
	margin-left: 5px;
	margin-right: 5px;
	width: 35px;
	height: 35x;
}

.img2_btn_route {
	width: 20px;
	height: 20px;
}

#btn_notfound {
	max-width: 274px;
}

.ol-scale-line {
	opacity: 0.85;
	background: rgba(0, 60, 136, 0) none repeat scroll 0 0;
}
.ol-scale-line-inner {
	color: #222222;
	border-color: #222222;
}

#map_attribution {
	width: 340px;
	height: 18px;
	position: absolute;
	top: 50%;
	left: -160px;
	background: rgba(0, 60, 136, 0.1) none repeat scroll 0 0;
	text-align: center;
	font-size: 13px;
	transform: rotate(-90deg);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	color: #333333;
}

#max_speed_alert, #map_north {
	width: 50px;
	height: 50px;
	position: absolute;
}
@media screen and (orientation:portrait) {
	#max_speed_alert, #map_north {
		top: 55px;
		right: 6px;
	}
}
@media screen and (orientation:landscape) {
	#max_speed_alert, #map_north {
		top: 47px;
		left: 47px;
	}
}

#img_maxspeed, #img_north {
	width: 100%;
	height: 100%;
}
#txt_mapspeed {
	width: 60%;
	position: absolute;
	color: black;
	font-weight: bold;
	top: 32%;
	left: 18%;
	font-family:Ubuntu, Arial, Helvetica, sans-serif;font-size:16px;border-style:solid;
	text-align:center;
}

.POI_img_inside {
	position: absolute;
	left: 6px;
	top: 6px;
	width: 13px;
	height: 13px;
}
.POI_img .unav_markers {
	float: left;
}
