[Desktop Entry]
Name=uNav
Comment=Map viewer & turn-by-turn GPS navigator for car, bike & walking
Keywords=GPS;navigator;map;POI;OSM;OpenStreetMap;
Type=Application
Icon=icon.png
Exec=qmlscene %u qml/Main.qml
Terminal=false
X-Ubuntu-Touch=true
X-Ubuntu-Splash-Color=#F5F5F5
