[Desktop Entry]
Name=uNav
Comment=Map viewer & turn-by-turn GPS navigator for car, bike & walking
Keywords=GPS;navigator;map;POI;OSM;OpenStreetMap;
Type=Application
Icon=icon.png
Exec=qmlscene %u qml/Main.qml
Terminal=false
X-Ubuntu-Touch=true

X-Ayatana-Appmenu-Show-Stubs=false
X-Ubuntu-Single-Instance=true
X-Ubuntu-Splash-Show-Header=false
X-Ubuntu-Splash-Image=icon-splash.svg
X-Ubuntu-Splash-Color-Header=#5846c5
X-Ubuntu-Splash-Color=#5846c5
X-Ubuntu-Splash-Color-Footer=#5846c5